.footer {
    background-color: #222222;
}
.footer .social-networks {
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: right;
}
@media screen and (max-width: 768px){
    .footer {
        padding: 30px 40px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px){
    .footer {
        padding: 40px 60px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
    .footer {
        padding: 0.5rem 2rem 0.5rem 100px;
    }
}