.item {
    margin: 20px 1.5% 20px;
    padding: 0.1px 15px 0px;
    width: 40%;
    max-width: 220px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}
.item__photo {
    display: inline-block;
    vertical-align: middle;
}
.item__title, .item__artist, .item__price {
    margin-top: 6px;
    padding: 2px 0;
    color: #222222;
    display: block;
}
.item__title {
    font-weight: 600;
}
.item__artist {
    font-weight: 500;
}
.item__price {
    color: #fd5825;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .item__title {
        font-size: 15px;
    }
    .item__artist {
        font-size: 14px;
    }
    .item__price {
        font-size: 12px;
        color: #fd5825;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px){
    .item {
        width: 20%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
    .item__title, .item__artist, .item__price {
        margin-top: 1rem;
    }
    .item__title {
        font-size: 18px;
    }
    .item__artist {
        font-size: 16px;
    }
    .item__price {
        font-size: 14px;
    }
}